Flask==3.0.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.35
Flask-SocketIO==5.4.1
requests==2.32.3
boto3==1.35.24
Pillow==10.4.0
bleach==6.1.0
pydantic==2.9.2
Werkzeug==3.0.4
celery==5.4.0
redis==5.1.1
python-socketio==5.13.0
gevent==24.10.2
gevent-websocket==0.10.1
python-dotenv==1.0.1
Flask-Migrate==4.0.7
Flask-Cors==5.0.0
Flask-Limiter==4.1.0
Flask-WTF==1.2.1
Flask-ReCaptcha==0.4.1
geographiclib==2.0
packaging==24.1
validators==0.33.0
gunicorn==23.0.0
mysqlclient==2.2.4
